<nav>
    <a class="logo">
      <img src="assets/images/logo.png">
    </a>
    <div class="categories">
        <a>Home</a>
        <a>Shop</a>
        <a>Pages</a>
        <a>About Us</a>
        <a>Lookups</a>
    </div>
    <div class="profile">
        <a><i class="bi bi-search profile-icon"></i></a>
        <a><i class="bi bi-person profile-icon"></i></a>
        <a><i class="bi bi-bell profile-icon"></i></a>

  
    </div>
  </nav>

  <div class="carousel">
    <img src="assets/images/carousel.jpg">
    <button class="carousel-button">Explore Now!</button>
  </div>
